body {
  font-family: calibri, sans-serif;
}

td {
  color: #222 !important;
}

 .rightAlign {
   text-align: right;
   padding-right: 2em;
 }

 .colourfulNumbers span.count {
   background: #bb6666;
   color: #ff0;
   padding: 0 0.25em;
   display: inline-block;
 }

 .highlightHens {
   background: #ccf;
 }
